.full {
    margin: 2%;
}

.head{
    justify-content: center;
}

.subtitle{
    text-align: center;
}

.pfhead{
    margin-right: 2%;
    width: 150px;
}

table{
    width: 100%;
}

.mat-row:hover {
    background-color:#f2f2f2;
  }

.pfpage{
    justify-content: center;
    align-items: center;
}

.tableform{
    margin-right: 2%;
    width: 100px;
}

.topitem{
    margin-right: 2%;
    width: 150px;
    margin-top: 1%;
}