<mat-card class="full" style="text-align: center;">
    <mat-card-header>
        <mat-card-title>UPLOAD SUBSCRIBER DATA</mat-card-title>
        <mat-card-subtitle>Upload Data By</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

        <mat-radio-group [(ngModel)]="choice">
            <mat-radio-button *ngFor="let option of options" [value]="option"> {{option}}
            </mat-radio-button>
        </mat-radio-group>

        <div>

            <div *ngIf="choice=='PF Number'">
                <form action="">
                    <mat-form-field class="pfhead">
                        <input matInput placeholder="PF number" value="">
                    </mat-form-field>
                    <mat-form-field class="pfhead">
                        <input matInput placeholder="Name" value="">
                    </mat-form-field>


                </form>

                <div>
                    <form [formGroup]="pfForm">
                        <span class="pfhead">1</span>
                        <mat-form-field class="pfhead">
                            <input type="month" matInput formControlName="month" placeholder="Month">
                        </mat-form-field>

                        <mat-form-field class="pfhead">
                            <input matInput formControlName="sub" placeholder="Subscription">
                        </mat-form-field>

                        <mat-form-field class="pfhead">
                            <input matInput formControlName="refund" placeholder="Refund">
                        </mat-form-field>

                        <mat-form-field class="pfhead">
                            <input matInput formControlName="da" placeholder="DA Arrear">
                        </mat-form-field>
                        <button class="add" mat-stroked-button color="warn" (click)="addNewMonth()">Add </button>

                        <div formArrayName="datas">
                            <div *ngFor="let comp of pfForm.get('datas').controls; let i=index">
                                <div [formGroupName]="i">

                                    <span class="pfhead">{{i+2}}</span>
                                    <mat-form-field class="pfhead">
                                        <input matInput formControlName="month" placeholder="Month">
                                    </mat-form-field>

                                    <mat-form-field class="pfhead">
                                        <input matInput formControlName="sub" placeholder="Subscription">
                                    </mat-form-field>

                                    <mat-form-field class="pfhead">
                                        <input matInput formControlName="refund" placeholder="Refund">
                                    </mat-form-field>

                                    <mat-form-field class="pfhead">
                                        <input matInput formControlName="da" placeholder="DA Arrear">
                                    </mat-form-field>

                                    <button mat-stroked-button color="warn" (click)="deleteMonth(i)">Remove</button><br>

                                </div>
                            </div>
                        </div>
                        <button mat-stroked-button color="warn" class="pfhead">Cancel</button>
                        <button mat-stroked-button color="warn" class="pfhead">Save</button>
                    </form>
                </div>
            </div>
            <div *ngIf="choice=='Office'">
                <mat-form-field>
                    <input matInput placeholder="Data updation office vice" value="">
                </mat-form-field>
            </div>
        </div>

    </mat-card-content>
</mat-card>