<mat-card class="full" style="text-align: center;">
    <mat-card-header class="head">
        <mat-card-title>APPLY FOR TA/NRA</mat-card-title>
        <mat-card-subtitle class="subtitle">Check Your Eligible Amount & Submit Application To Your Parent Office
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="TA">
                <form action="">
                    <mat-form-field class="topitem">
                        <input matInput placeholder="PF Number" value="">
                    </mat-form-field>
                    <button mat-stroked-button color="warn">Get Details</button>
                </form>
            </mat-tab>

            <mat-tab label="NRA">
                <form action="">
                    <mat-form-field class="topitem">
                        <input matInput placeholder="PF Number" value="">
                    </mat-form-field>
                    <button mat-stroked-button color="warn">Get Details</button>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>