<mat-toolbar color=warn>
    <img src="/assets/og_logo.png" width="40px" alt="">
    <span class="tbar-title">Kerala Water Authority</span>
    <span class="spacer"></span>
    <span class="tbar-title">GPF PORTAL</span>
    <button mat-icon-button>
        <mat-icon class="topico">help</mat-icon>
    </button>
</mat-toolbar>

<div class="full-page">
    <mat-card class="lcard">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>


        <mat-card-content>
            <mat-form-field class="login-field">
                <input matInput placeholder="Employee code" name="username" [(ngModel)]="username" required />
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Password" name="password" [(ngModel)]="password" type="password"
                    required />
            </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
            <button class="login-field" mat-raised-button (click)="login()" color="warn">Login</button>
        </mat-card-actions>
    </mat-card>
</div>